  <h1>Articles</h1>

            <ol>

                {{#each articles}} 
                <ul>
                    {{title}}
                    <br>
                    <a href = "{{link}}" target = "_blank">{{link}}</a>
                    <br>
                    {{summary}}
                    
                </ul>
              {{/each}}

            </ol>