.jumbotron {
    background-image: url("../images/newspaper.jpg");
    color: white;
  
    font-family: 'Open Sans', sans-serif;
}

a {
    color: black;
}

.container {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 16px; 
}

h4 {
    background-color: #7f7979;
    color: white;
    padding: 10px;
}

#notes {
    margin-left: 40px; 
}

.btn {
    color: white;
    background-color: #7f7979;
}